/*Part#1*/

.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding {
    padding: 20px;  
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin {
    margin: 30px;  
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border {
    border: 5px;
    border-style: solid;
    color: black;
      
  }

  /*Part#2*/

  .super-mario {
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 130px;
    
  }
  
  .goomba {
    width: 65px;
    position: absolute;
    z-index: 2;
    top: 350px;
    left: 200px;
  }
  
  .baloon {
    width: 180px;
    position: absolute;
    z-index: 3;
    top: 180px;
    left: 350px;
  
  }
  
  .bowser {
    width: 300px;
    position: absolute;
    z-index: 3;
    top: 210px;
    left: 500px;
  }
  
  .speech {
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 180px;
    left: 385px;

  }

  /*Part#3*/

.part3 h1, .part3 p {
    text-align: center; 
  }

.part3 li:hover {
  background-color: aqua;
  transition: 750ms;
}

.part3 li:active {
  font-family: 'Courier New', Courier, monospace;
  color: green
}

.part3 ul, .part3 ol {
  list-style: none;  
}

/*Part#3.2*/

div:hover {
  border: 1px;
  border-color: aqua;
}